body {
    color:white;
    background: black;
    margin: 0px;
    font-family: "Playpen Sans", cursive;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px black;
    margin: 20px;
    font-size: 32px;
    color: white
}

.chamada {
    background: black;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content:center;
}

   .chamada-texto {
    margin-right: 20px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}
img {
    height: 200px
}
.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid blue
}

.categoira h2 {
    color: white
}